<div class="row">
<h1>Evalúa a tu funcionario</h1>
Las evaluaciones se cuentan mensualmente, entonces tienes hasta el último día del mes para evaluar a tu funcionario, o bien, para verificar y corregir tu evaluación.
<h2></h2>
  <div class="col-md-4">
    <div class="row">
      <%= image_tag @functionary.photo, style: "max-width:80%;", class: "center-block" %>
    </div>
    <h4><%= @functionary.fullname %></h4>
      <p>
        <b><i class="fa fa-building-o"></i></b>
        <%= @functionary.office_address %>
      </p>

      <p>
        <b><i class="fa fa-phone"></i></b>
        <%= @functionary.phone %>
      </p>

      <p>
        <b><i class="fa fa-envelope"></i></b>
        <%= @functionary.email %>
      </p>
      <p>
        <b>Evaluación de este mes: </b>
        <strong><%= @functionary.evaluation? ? "%0.2f" % @functionary.evaluation : 0.0 %></strong>
      </p>

  </div>

  <div class="col-md-8">
    <div class="row">
      <%= link_to image_tag(@agency.logo, style: "float: right; margin: 0px 130px 20px 0px;", class: "center-block"), @agency %>
      <h2>Resultado: <%= "%0.1f" % @evaluation_result %></h2><br>
    </div>
    <div class="row">

      <% @questions.each_with_index do |question, index| %>
        <div id="section_<%= question.id %>" class="col-md-5 portfolio-item" style="background-color:white; margin: 0px 0px 40px 0px;"> 
          <%= question.question %><br>
          <% temp = @evaluations.where(["question_id = ?", question.id]) %><br>
          <% value = temp.first ? temp.first.evaluation : 0 %>
          <% color = %w[lightgray red gold gold gold green] %>

          <div class="centered">
            <%= form_tag(create_evaluation_path, :method=>'post') do %>
              <%= hidden_field_tag "question_id", question.id %>
              <%= hidden_field_tag "functionary_id", @functionary.id %>
              <%= hidden_field_tag "agency_id", @agency.id %>
              <%= hidden_field_tag "evaluation", 0, class: "star" %>
              <% (1..5).each do |i| %>
                <button type="submit" class='btn btn-default submit_star' data-value="<%= i %>" >
                  <% if i <= value %>
                    <i class='fa fa-star fa-2x' style='color:<%= color[value.to_i] %>' ></i>
                  <% else %>
                    <i class='fa fa-star-o fa-2x' style='color:lightgray' ></i>
                  <% end %>
                </button>
              <% end %>
            <% end %>
          </div>
          <br>
          <% @hash.keys.each do |key| %>
            <% if question.send(key) %>
              <%= link_to @hash[key][0], "#", "data-toggle" => "modal", "data-target" => "##{key}_modal", "class" => "btn btn-default btn-block" %> 
            <% end %>
          <% end %>
        </div>

        <% if (index+1)%2 == 0 %>
          </div><div class="row">
        <% end %>

      <% end %>
    </div>
  </div>
</div>

    <% @hash.keys.each do |key| %>
      <!-- Modal -->
      <div class="modal fade" id="<%= "#{key}_modal" %>" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><%= @hash[key][0] %></h4>
            </div>
            <div class="modal-body">
              <% body = instance_variable_get(@hash[key][1]).send(@hash[key][2]) %>
              <p><%= body.present? ? GitHub::Markdown.render_gfm(body).html_safe : "<i>Información no disponible</i>".html_safe %></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>

<script type="text/javascript">
  $( document ).ready(function() {
    $( "table" ).addClass( "table" );
    $(".submit_star").click(setstarhiddenfield);
    function setstarhiddenfield(event) {
      event.preventDefault();
      $(this).parent().find(".star").attr("value", $(this).attr('data-value'));
      $(this).parent().submit();
    }
    <% if params[:question] %>
      document.location.hash="#section_<%= params[:question] %>";
    <% end %>
  });
</script>

