<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Agency target:</strong>
  <%= @question.agency_target %>
</p>

<p>
  <strong>Agency description:</strong>
  <%= @question.agency_description %>
</p>

<p>
  <strong>Agency contact:</strong>
  <%= @question.agency_contact %>
</p>

<p>
  <strong>Functionary functions:</strong>
  <%= @question.functionary_functions %>
</p>

<p>
  <strong>Functionary schooling:</strong>
  <%= @question.functionary_schooling %>
</p>

<p>
  <strong>Functionary experience:</strong>
  <%= @question.functionary_experience %>
</p>

<p>
  <strong>Functionary salary:</strong>
  <%= @question.functionary_salary %>
</p>

<p>
  <strong>Functionary contact:</strong>
  <%= @question.functionary_contact %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
