<%= form_for(@agency) do |f| %>
  <% if @agency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agency.errors.count, "error") %> prohibited this agency from being saved:</h2>

      <ul>
      <% @agency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre de la dependencia" %><br>
    <%= f.text_field :name, size: 50 %>
  </div>
  <div class="field">
    <%= f.label :logo %><br>
    <%= f.text_field :logo, size: 50 %>
  </div>
  <div class="field">
    <%= f.label "Dirección" %><br>
    <%= f.text_area :address, size: "50x5" %>
  </div>
  <div class="field">
    <%= f.label "Objetivo de la dependencia:" %><br>
    <%= f.text_area :target, size: "50x10" %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit "Crear/Actualizar Dependencia" %>
  </div>
<% end %>
