Escribir algo aquí
<br>
<br>
<br>

<div class="list-group">
  <a href="#" class="list-group-item active">
    Dependencias
  </a>
  <% @agencies.each do |agency| %>
    <a href="<%= agency_path(agency.id) %>" class="list-group-item">
      <div class="row" >
        <div class="container">
          <%= image_tag agency.logo, style: "float: left; margin: 5px 30px 0 0;" %>
          <h4><%= agency.name %></h4>
          <%= agency.address %>
        </div>
      </div>
      <div class="row" style="margin: 10px 10px 0 0;" >
        <%= agency.target %>
      </div>
    </a>
    <% if current_user and current_user.is_admin? %>
      <%= link_to 'Editar', edit_agency_path(agency) %> | 
      <%= link_to 'Eliminar', agency, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>

<br>

<%= link_to 'New Agency', new_agency_path if current_user and current_user.is_admin?%>
