<p>
  <strong>Sigue a tu funcionario</strong> pretende ser el medio por el cual la ciudadanía pueda informarse acerca de las actividades y objetivos de las dependencias de gobierno y sus titulares y, con base en ello, poder evaluar a los funcionarios.
</p>
<p>
  Elije una dependencia, conoce qué hace, cómo lo hace y quién está al frente de ella y, ¡evalúa su desempeño!(*)
</p>
<small>(*) Necesitas registrarte para evaluar a tu funcionario, es rápido y gratuito.</small>
<%= link_to 'Nueva Dependencia', new_agency_path, class: "btn btn-primary", style: "float: right;" if current_user and current_user.is_admin?%>
<br>
<br>

<div class="list-group">
  <a href="#" class="list-group-item active">
    Dependencias
  </a>
  <% @agencies.each do |agency| %>
    <a href="<%= agency_path(agency.id) %>" class="list-group-item">
      <div class="row" >
        <div class="container">
          <%= image_tag agency.logo, style: "float: left; margin: 5px 30px 0 0;" %>
          <%= image_tag agency.functionary.photo, style: "float: right; max-height:80px; margin: 5px 30px 0 0;" %>
          <h3><%= agency.name %></h3>
          Titular: <strong><%= agency.functionary.fullname if agency.functionary %></strong> <br>
          <%= agency.address %> <br>
        </div>
      </div>
      <div class="row" style="margin: 10px 10px 0 0;" >
        <%= GitHub::Markdown.render_gfm(agency.target).html_safe %>

        <%#= agency.target %>
      </div>
    </a>
    <% if current_user and current_user.is_admin? %>
      <%= link_to 'Editar', edit_agency_path(agency) %> | 
      <%= link_to 'Eliminar', agency, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>

<br>

