
<p>
  <%= image_tag @agency.logo %>
</p>

<p>
  <h2><%= @agency.name %></h2>
</p>

<p>
  <strong><i class="fa fa-building-o"></i></strong>
  <%= @agency.address %>
</p>
<p>
  <strong><i class="fa fa-phone"></i></strong>
  <%= @agency.phone %>
</p>

<p>
  <%= GitHub::Markdown.render_gfm(@agency.target).html_safe if @agency.target %>
</p>

<p>
  <%= GitHub::Markdown.render_gfm(@agency.description).html_safe if @agency.description %>
</p>

<p>
  <strong>Proyectos / Programas</strong>
  <%= GitHub::Markdown.render_gfm(@agency.programs).html_safe if @agency.programs %>
</p>

<% if current_user and current_user.is_admin? %>
  <%= link_to 'Editar Dependencia', edit_agency_path(@agency) %> |
  <%= link_to 'Regresar', agencies_path %>
<% end %>

<% if @agency.functionary.present? %>
  <h2>Titular</h2>
  <div class="row" >

  <p>
    <%= image_tag @functionary.photo, style: "float: left; margin: 5px 30px 0 0;" %>
  </p>

  <p>
    <strong><%= @functionary.fullname %></strong>
    
  </p>
  <p>
    <b><i class="fa fa-building-o"></i></b>
    <%= @functionary.office_address %>
  </p>

  <p>
    <b><i class="fa fa-phone"></i></b>
    <%= @functionary.phone %>
  </p>

  <p>
    <b><i class="fa fa-envelope"></i></b>
    <%= @functionary.email %>
  </p>

  <p>
    <b>Evaluación: </b>
    <strong><%= @functionary.evaluation %></strong>
  </p>

  <p>
    <b>Salario:</b>
    <%= @functionary.salary.present? ? GitHub::Markdown.render_gfm(@functionary.salary).html_safe : "Información no disponible" %>
  </p>

  </div>

  <div class="row" >
  <p>
    <h3>Metas:</h3>
    <%= @functionary.functions.present? ? GitHub::Markdown.render_gfm(@functionary.functions).html_safe : "Información no disponible" %>
  </p>

  <p>
    <h3>Perfil Académico:</h3>
    <%= @functionary.schooling.present? ? GitHub::Markdown.render_gfm(@functionary.schooling).html_safe : "Información no disponible" %>
  </p>

  <p>
    <h3>Experiencia:</h3>
    <%= @functionary.experience.present? ? GitHub::Markdown.render_gfm(@functionary.experience).html_safe : "Información no disponible" %>
  </p>
  </div>

  <% if current_user and current_user.is_admin? %>
    <%= link_to 'Editar Funcionario', edit_functionary_path(@functionary) %> |
    <%= link_to 'Regresar', agencies_path %>
  <% end %>

  <br><br><br>
  <%= link_to 'Evaluar funcionario', evaluations_path(agency_id: @agency.id), class: "btn btn-primary" %>
<% elsif current_user and current_user.is_admin? %>
  | <%= link_to 'Agregar Titular', new_functionary_path(agency_id: @agency.id) %>
<% end %>

<script type="text/javascript">
  $( document ).ready(function() {
    // $( "table" ).addClass( "table-striped" );
    $( "table" ).addClass( "table" );
    // $( "table" ).addClass( "table-condensed" );
    // $( "table" ).addClass( "table-bordered" );
  });
</script>
