<p>
  <%= image_tag @agency.logo %>
</p>
<p>
  <h2><%= @agency.name %></h2>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @agency.address %>
</p>

<p>
  <strong>Objetivo de la dependencia:</strong><br>
  <%= @agency.target %>
</p>

<%= link_to 'Edit', edit_agency_path(@agency) %> |
<%= link_to 'Back', agencies_path %>
