<%= form_for(@functionary) do |f| %>
  <% if @functionary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@functionary.errors.count, "error") %> prohibited this functionary from being saved:</h2>

      <ul>
      <% @functionary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--   <div class="field">
    <%#= f.label :agency_id %><br>
    <%#= f.text_field :agency_id %>
  </div>
 -->  
  <%= f.hidden_field :agency_id, value: @agency.id %>
  Para la dependencia <strong><%= @agency.name %></strong> <br><br>

  <div class="field">
    <%= f.label "Nombre(s)" %><br>
    <%= f.text_field :fname, size: 50 %>
  </div>
  <div class="field">
    <%= f.label "Apellido(s)" %><br>
    <%= f.text_field :lname, size: 50 %>
  </div>
  <div class="field">
    <%= f.label "Foto" %><br>
    <%= f.text_field :photo, size: 50 %>
  </div>
  <div class="field">
    <%= f.label "Cargo" %><br>
    <%= f.text_field :charge, size: 50 %>
  </div>
  <div class="field">
    <%= f.label "Salario" %><br>
    <%= f.text_field :salary, size: "50x10" %>
  </div>
  <div class="field">
    <%= f.label "Perfil académico" %><br>
    <%= f.text_area :schooling, size: "50x10" %>
  </div>
  <div class="field">
    <%= f.label "Experiencia" %><br>
    <%= f.text_area :experience, size: "50x10" %>
  </div>
  <div class="field">
    <%= f.label "Evaluación" %><br>
    <%= f.text_field :evaluation, size: "50x5" %>
  </div>
  <div class="actions">
    <%= f.submit "Crear/Actualizar Funcionario" %>
  </div>
<% end %>
