<h1>Listing functionaries</h1>

<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Photo</th>
      <th>Agency</th>
      <th>Charge</th>
      <th>Salary</th>
      <th>Schooling</th>
      <th>Experience</th>
      <th>Evaluation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @functionaries.each do |functionary| %>
      <tr>
        <td><%= functionary.fname %></td>
        <td><%= functionary.lname %></td>
        <td><%= functionary.photo %></td>
        <td><%= functionary.agency %></td>
        <td><%= functionary.charge %></td>
        <td><%= functionary.salary %></td>
        <td><%= functionary.schooling %></td>
        <td><%= functionary.experience %></td>
        <td><%= functionary.evaluation %></td>
        <td><%= link_to 'Show', functionary %></td>
        <td><%= link_to 'Edit', edit_functionary_path(functionary) %></td>
        <td><%= link_to 'Destroy', functionary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Functionary', new_functionary_path %>
