<p>
  <strong>Nombre(s):</strong>
  <%= @functionary.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @functionary.lname %>
</p>

<p>
  <%= image_tag @functionary.photo %>
</p>

<p>
  <strong>Agency:</strong>
  <%= link_to @functionary.agency.name, agency_path(@functionary.agency.id) %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @functionary.charge %>
</p>

<p>
  <strong>Salary:</strong>
  <%= GitHub::Markdown.render_gfm(@functionary.salary).html_safe %>
  <%#= @functionary.salary %>
</p>

<p>
  <strong>Perfil Académico:</strong>
  <%= GitHub::Markdown.render_gfm(@functionary.schooling).html_safe %>
  <%#= @functionary.schooling %>
</p>

<p>
  <strong>Experiencia:</strong>
  <%= GitHub::Markdown.render_gfm(@functionary.experience).html_safe %>
  <%#= @functionary.experience %>
</p>

<p>
  <strong>Evaluation:</strong>
  <%= @functionary.evaluation %>
</p>

<%= link_to 'Editar', edit_functionary_path(@functionary) %> |
<%= link_to 'Regresar', functionaries_path %>
