<!DOCTYPE html>
<html>
<head>
	<title>Sigueatufuncionario</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Sigue a tu Funcionario</a>
			</div>

			<% if user_signed_in? %>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/static_pages/api">API<span class="sr-only">(current)</span></a></li>
					<li><a href="/static_pages/about">Nosotros</a></li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><%= link_to "Perfil de usuario", edit_user_registration_path %></li>
							<li><%= link_to "Settings", '#' %></li>
							<li class="divider"></li>
							<li><%= link_to "Salir", destroy_user_session_path, :method => :delete %></li>
						</ul>
					</li>
				</ul>
			</div>
			<% else %>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
		            <li><a href="#" data-toggle="modal" data-target="#singup_modal" id="button-to-signup">Registrarse</a></li>
		            <li><a href="#" data-toggle="modal" data-target="#login_modal" id="button-to-login">Entrar</a></li>
				</ul>
			</div>
			<% end %>

		</div>
	</nav>

	<div class="container">
		<% flash.each do |name, msg| %>
		<% if msg.is_a?(String) %>
		<div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		</div>
		<% end %>
		<% end %>
		<%= yield %>
	</div>

    <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12" style="text-align:center;">
                    <p>
                      <%= link_to "Documentación de la API", action: :api, controller: :static_pages  %> &nbsp;&nbsp;&nbsp;
                      <%#= link_to "Documentación de la API", action: :apidoc, controller: :static_pages  %> <!-- &nbsp;&nbsp;&nbsp; -->
                      <%= link_to "<i class='fa fa-github fa-2x'></i>".html_safe, "https://github.com/Ligator/PeopleCounter" %> &nbsp;&nbsp;&nbsp;
                      Octubre 2015 
                    </p>
                </div>
            </div>
        </footer>

	<div class="modal fade" id="singup_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Sign up</h4>
	      </div>
	      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	        <div class="modal-body">
	          <%= devise_error_messages! %>
	          <div class="form-inputs">
	            <%= f.text_field :email, placeholder: "Email", autofocus: true, class: "form-control" %><br>
	            <%= f.password_field :password, placeholder: "Contraseña", autocomplete: "off", class: "form-control" %><br>
	            <%= f.password_field :password_confirmation, placeholder: "Repetir Contraseña", autocomplete: "off", class: "form-control" %>
	          </div>
	        </div>
	        <div class="modal-footer">
	          <div class="form-actions">
	            <%= f.submit "Registrar", :class => "btn btn-primary"  %>
	          </div>
	        </div>
	      <% end %>
	    </div>
	  </div>
	</div>

	<div id="login_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Login</h4>
	      </div>
	      <%= form_for(:user, :url => session_path(:user)) do |f| %>
	        <div class="modal-body">
	          <%= f.text_field :email, placeholder: "Email", autofocus: true, class: "form-control" %><br>
	          <%= f.password_field :password, placeholder: "Contraseña", class: "form-control", autocomplete: "off" %><br>
	          <%= f.check_box :remember_me %>
	          <%= f.label "Recordarme" %><br>
	        </div>
	        <div class="modal-footer">
	          <div class="form-actions">
	            <%= f.submit 'Entrar', :class => "btn btn-primary" %>
	          </div>
	        </div>
	      <% end %>        
	    </div>
	  </div>
	</div>

	<script type="text/javascript">
	  $( document ).ready(function() {
	    $('.modal').on('shown.bs.modal', function() {
	      $(this).find('[autofocus]').focus();
	    });  
	  });
	</script>

</body>
</html>
